body {
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(8, 15, 48, 0.3);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* Additional Mobile Styles */
@media screen and (max-width: 550px) {
    .header{
        position:fixed;
    }
    .profile{
        margin-top:15%;
    }
    .project-container {
        flex-direction: column;
    }
    .project-img {
        width: 100%;
        height: 160px; 
        object-fit: cover; 
        display: block;
        border-bottom: 2px solid #c8d7e8; 
    }
    

    .project {
        width: 90%;
        max-width: 400px;
        margin: 10px auto;
        min-height: 480px;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .nav__links {
        display: none;
    }

    .menu-toggle {
        margin-left: 20%;
        display: block !important;
        cursor: pointer;
        color: var(--nav-text);
        font-size: 24px;
        padding: 10px;
    }
}
