@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Variables */
:root {
    --nav-color: #274c77;
    --nav-text: #e7ecef;
    --primary-color: #274c77;
    --secondary-color: #6096ba;
    --hover-color: #a3cef1;
    --font-family: "Roboto Mono", sans-serif;
    --list-odd: #518ad3;
    --list-even: #74c77;
}

/* Global Styles */
* {
    background: rgb(39, 76, 119) !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    font-size: 16px;
}

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
}

/* Block Animation */
.block {
    z-index: 3;
    height: 54.86px;
    width: 60px;
    position: absolute;
    background-color: var(--secondary-color) !important;
    animation: fade 4s both linear infinite alternate-reverse;
}

@keyframes fade {
    from {
        transform: translateX(-10px) skew(20deg);
    }

    to {
        transform: translateX(254px) skew(20deg);
    }
}

/* Header */
.header {
    
    background-color: var(--primary-color) !important;
    padding-top: 10px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    z-index: -1;
    overflow: hidden;

}

.header .nav__links {
    justify-content: space-between;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    margin: auto;
}


.nav__links ul {
    display: flex;
}

.nav__links ul li {
    list-style-type: none;
}

.header .nav__links ul li {
    padding: 10px;
    margin: 0 10px;
}

.nav__links a {
    color: var(--nav-text);
    font-weight: bold;
}

.nav__links a:hover {
    color: var(--hover-color);
}



/* Buttons */
button {
    margin-top: 5%;
    padding: 9px 25px;
    background-color: var(--secondary-color) !important;
    border: none;
    border-radius: 50px !important;
    cursor: pointer;
    color: var(--nav-text);
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: var(--hover-color) !important;
}

/* Main Content */
.content {
    width: 100%;
    background-color: var(--primary-color) !important;
    padding: 5% 5% 0 5%;
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 10px;
    color: var(--nav-text);
}

/* Profile Section */
.profile {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
}

.profile .card {
    margin-left: auto;
    margin-right: auto;
    border-style: none !important;
}

.profile img {
    max-height: 600px;
    max-width: fit-content;
    margin: auto;
}

/* About Section */
.about {
    width: 100%;
    border-radius: 5%;
    padding: 10px;
    border: solid;
    border-width: thick;
    line-height: 2;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.about-short {
    width: 100%; 
    padding: 10px; 
    margin: 0 auto; /* Center the element */
    display: none;
}

/* Event Section */
.event {
    display: grid;
    text-align: start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: auto;
    grid-template-rows: 1;
}

.event-detail h3 {
    background-color: var(--primary-color) !important;
    padding: 10px;
    color: #fff;
    grid-column: 1/3;
}

.event-detail:nth-child(even) h3 {
    background-color: var(--secondary-color) !important;
    padding: 10px;
    color: #fff;
}

.event-detail {
    display: grid;
    grid-template-columns: 100px auto;
}

.event-detail .logo {
    grid-column: 1/2;
}

.event-title {
    line-height: 1.6;
    padding-left: 10px;
    grid-column: 2/2;
}

.event-summary {
    font-weight: 300;
}

/* Projects Showcase */
.projects-showcase {
    width: 100%;
    background-color: #c8d7e8;
    color: #518ad3;
    padding: 2% 0;
}

.projects-showcase h2 {
    color: #c8d7e8;
    font-size: 30px !important;
}

.projects-container {
    background-color: #c8d7e8 !important;
    display: flex;
    flex-direction: row;
    padding-left:3%;
    padding-right:3%;
    gap: 30px;
    margin-top: 5%;
    align-items: center;
    padding-top:5%;
    padding-bottom: 5%;
}

.project {
    width: 100%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
}

.project .button {
    margin-left: 20%;
    margin-right:20%;
    margin-bottom: 5%;
}

.project:hover {
    transform: translateY(-10px);
    scale: 1.2;
}

.project-img {
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    display: block;
    border-bottom: 2px solid #c8d7e8; 
}

.project h3 {
    padding: 10px 15px;
    font-size: 1.5em;
    color: #83aedc;
}

.project-tags{
    margin-left:3%;
}


.project p {
    padding: 0 15px 15px;
    font-size: 1em;
    color: var(--nav-text);
}

.project-link {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: transparent !important;
    color: #fff;
    text-decoration: none;
    border-radius: 0 0 10px 10px;
}

/* Animation */
.blink {
    animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Card Text */
.card__text ul li {
    list-style-type: none;
}

/* Footer */
.footer-container {
    background-color: var(--primary-color);
    padding: 20px 0;
    color: var(--nav-text);
    text-align: center;
    border-top: 1px solid var(--secondary-color);
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.footer-content p {
    margin: 0;
    font-weight: bold;
}

.branding-name {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 15px;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: var(--nav-text);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: var(--hover-color);
}

.social-icon {
    width: 60px;
    height: 60px;
    transition: filter 0.3s;
}

.social-icon:hover {
    filter: brightness(0.8);
}

/* Blog */
.blog-container {
    display: flex;
    column-gap: 30px;
    row-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.blog-container{
    padding-bottom: 10%;
}

.card {
    width: 100%;
    color: var(--nav-text) !important;
    border-style: solid !important;
    border-radius: 3% !important;
    border-width: 6px !important;
    border-color: #c8d7e8 !important;
}

.card a {
    background-color: var(--secondary-color) !important;
    border-color: transparent !important;
}

.card a:hover {
    background-color: #102843 !important;
}

.pagination {
    margin-top: 2%;
    justify-content: center;
    margin-bottom: 2%;
}

.page-link {
    background-color: var(--secondary-color) !important;
    color: var(--nav-text) !important;
    font-weight: 500 !important;
    border: solid !important;
}

.page-link:hover {
    background-color: #102843 !important;
}

main nav {
    grid-row: 2;
    grid-column: 2/4;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .projects-container{
        flex-direction: column;
    }
    .header {
        width:100%;
        position: fixed;
        z-index: 100;
    }
    .profile{
        margin-top:5%;
    }
    .header .nav__links {
        flex-direction: column;
    }

    .cta {
        margin-bottom: 5%;
    }

    .content {
        width: 100%;
        padding: 5% 5% 0 5%;
        display: grid;
        grid-template-columns: 1fr; /* Ensure single column layout for small screens */
        gap: 10px;
        color: var(--nav-text);
    }
    

    .about {
        margin-top: 10px;
        grid-column-start: 1;
        text-align: center;
        grid-row: inherit;
    }


    

    .block {
        animation: none;
        display: none;
    }

    .event {
        margin-top: 10px;
    }

    .project {
        width: 600px;
        align-items: center;
        height:auto;
    }

    .project-img {
        height:300px;
    }

    /* Blog */
    .blog-container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 500px) {
    .content {
        grid-template-columns: 1fr;
        padding: 5% 10px;
    }

    .profile,
    .about,
    .event,
    .projects-showcase {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .profile img {
        max-width: 100%;
        height: 300px;
    }

    .about-short {
        display: block;
    }

    .about-long {
        display: none;
    }

    .project {
        width: 100%;
        max-width: 90%;
        margin: 10px 0;
        height:auto;
    }

    .event-detail {
        display: block;
        width: 100%;
        max-width: 100%;
    }

    .event-detail .logo,
    .event-detail .event-title {
        width: 100%;
        max-width: 100%;
    }
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
